WCFPermissions/WCFClient/Service References/ServiceDemoSVC/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServer.ErrorHandling" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServer.ErrorHandling" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CustomFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdditionalData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomFault" nillable="true" type="tns:CustomFault" />
</xs:schema>